@import '../../assets/scss/vars.scss';
.bullet-list{
    margin: 0;
    list-style:none;
    padding-inline-start:0;
    li{
        position: relative;
       padding-left:20px;
        &::before{
            position: absolute;
            left:0;
            top:7px;
            content:'';
            width:10px;
            height: 10px;
             border-radius: 10px;
            background: $dark-shade-25;
        }
    }
    

}
