@import '../../assets/scss/vars.scss';
.bullet-list{
    list-style:none;
    li{
        margin-left:10px;
        ::after{
            background-image: url('assets/img/ellipse.svg');
        }
    }
    

}
