extends ./../../../templates/template.pug
block vars
     -var title="Headers and footers"
block content
    include ./../../../modules/header/header.pug
    include ./../../../modules/footer/footer.pug
    include ./../../../modules/logo/logo.pug
    +logo({mods:typeLogo})
    main.headers-and-footers
        .column-elements
            +header({
                navList:['Home','About us','Services','News','Documentation'],
                buttonsText:[buttonLogin,buttonRegister]})
            +header({
                mods:'logged',
                navList:['Home','About us','Services','News','Documentation'],
                userName:userName})
            +footer({mods:'withWidgets',footerText:footerText,copyright:copyright,navItems:footerNavItems,subscribe:subscribe})
            +footer({footerText:footerText,copyright:copyright})