extends ./../../../templates/template.pug
include ./../../../modules/header/header.pug
include ./../../../modules/footer/footer.pug
include ./../../../modules/logo/logo.pug
block content
    +logo({mods:'gray'})
    main.headers-and-footers

        .column-elements
            +header({
                navList:['Home','About us','Services','News','Documentation'],
                buttonsText:[buttonLogin,buttonRegister]})
            +header({
                mods:'logged',
                navList:['Home','About us','Services','News','Documentation'],
                userName:'Cosmin Negoita'})
            +footer({mods:'withWidgets',footerText:footerText,copyright:copyright})
            +footer({footerText:footerText,copyright:copyright})