@import './../../../templates/template.scss';
@import '../../../assets/scss/vars.scss';
.headers-and-footers{
    min-height:100vh;
    .column-elements{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}