extends ./../../../templates/template.pug
include ./../../../modules/header/header.pug
include ./../../../modules/footer/footer.pug
block content
    .column-elements
        +header({
            navList:['Home','About us','Services','News','Documentation'],
            navButtons:[['border','Login'],['bigFull','register']]})
        +header({
            mods:'logged',
            navList:['Home','About us','Services','News','Documentation'],
            userName:'Cosmin Negoita'})