@import "./../../../templates/template-page.scss";
@import "../../../assets/scss/vars.scss";

main.search-room {
    background-color: #ffffff;
    width: 100%;
    padding-top:30px;
    padding-left:140px;
    display:flex;
    .filtres-container {
        margin-right: 50px;
        & > * {
            margin-bottom: 30px;
        }
    }
    h3 {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color:$dark-shade-100;
       
    }
    .results{
        &__title{
            text-align: left;
            margin-bottom:20px ;
            width: 100%;
        }
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .pagination-container{
                margin-top:40px;
            }
        }
        &__rooms{
            display: flex;
            flex-wrap: wrap;
            .card-room{
                margin-right:10px;
                margin-bottom: 10px;
            }
        }

    }
}
@media #{$widthTablet} {
    main.search-room{
        flex-direction: column;
        align-items: center;
        .results-container{
            width: 100%;
            align-items: center;
        }
    }
}
