include ./../../modules/dropdown-guests/dropdown-guests.pug
include ./../../modules/dropdown-date/dropdown-date.pug
include ./../../modules/button/button.pug
mixin form-search(params)
    -const{textTitle=""}=params;
    form.form(class="form-search")
        h3.form-search__title=textTitle
        .form-search__inputs
            +dropdown-date({mods:'twoFields',textLabel_one:'Прибытие',textLabel_two:'Выезд'})
            +dropdown-guests
        +button({mods:'bigFull',text:'Подобрать номер',arrowIcon:'true'})

