@import "./../../assets/scss/vars.scss";
.form-search {
    padding: 40px 30px 30px 30px;
    background: #ffffff;
    width: 380px;
    height: 374px;
    border:  $card-border-style;
    box-sizing: border-box;
    box-shadow: $main-box-shadow-style;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__title {
        width: 320px;
        font-family: $font-titles;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: $dark-shade-100;
    }
    &__inputs{
        > div{
            margin-top: 20px;
        }
    }

    .button {
        margin-top: 31px;
    }
}
