@import './../../../templates/template.scss';
@import '../../../assets/scss/vars.scss';
.form-elements{
    .columns-container{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1440px;
    }
}

.form-elements__item{
    width:320px;
    margin-bottom: 1.5rem;
    flex-basis: 320px;
    &__title{
        margin-bottom:1rem;
        font-weight: bold;
        font-size: .75rem;
        line-height: .9375rem;
        text-transform: uppercase;
        color: $dark-shade-100;
    }
    &__blocks{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
.form-elements__item_half-column{
        display: inline-block;
        max-width: 160px;
        .form-elements__item__blocks{
            display: flex;
            justify-content: flex-start;
            & div:first-child{
                margin-right:10px;
            }
    }
}
//стили для столбца с компонентом comment
.column-elemnts_two-column{
    .form-elements__item{
    width:712px;
    }
}