@import "./../../../templates/template.scss";
@import "../../../assets/scss/vars.scss";
.form-elements {
    padding-top: 30px;
    max-width: 1440px;
    margin: 0 auto;
    .logo-container {
        margin-bottom: 65px;
    }
    .columns-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 140px;
        margin-bottom: 100px;
        &:nth-child(1){
            background-color:red;
        }
        .column-elements{
            &:nth-child(1){
            margin-right: 126px;
            }
            &:nth-child(2){
                margin-right: 130px;
                width:220px;
                >*{
                    margin-bottom: 40px;
                }
            }
            &:nth-child(3){
                >*{
                    margin-bottom: 40px;
                }
            }
        }
    }

    &__item {
        position: relative;
        width: 320px;
        margin-bottom: 20px;
        flex-basis: 320px;
        &__title {
            font-family: $font-main;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: $dark-shade-100;
        }
        &__state {
            font-family: $font-main;
            font-size: 12px;
            line-height: 15px;
            position: absolute;
            top: 0;
            right: 0;
            text-transform: uppercase;
            color: $dark-shade-50;
        }
        &__blocks {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_wideColumn {
            width: 712px;
        }
        &_wrap {
            .form-elements__item__blocks {
                display: flex;
                flex-wrap: wrap;
                justify-content: unset;
                flex-direction: row;
                height: 238px;
                .button {
                    margin-right: 20px;
                }
            }
        }
        &_row {
            display: block;
            width: 260px;
        }
        &_narrowColumn {
            display: inline-block;
            max-width: 160px;
            .form-elements__item__blocks {
                display: flex;
                justify-content: flex-start;
                & div:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}
@media #{$widthTablet} {
    .form-elements__item_wideColumn {
        width: auto;
    }
}
