body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',Arial, sans-serif;
  font-size: 0.9rem ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-columns{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
