//list ofvariables 
$dark-shade-100: #1F2041;
$dark-shade-75: rgba($dark-shade-100, 0.75);
$dark-shade-50: rgba($dark-shade-100, 0.5);
$dark-shade-25: rgba($dark-shade-100, 0.25);
$dark-shade-10: rgba($dark-shade-100, 0.1);
$dark-shade-5: rgba($dark-shade-100, 0.05);
//colors
$purple: #BC9CFF;
$green: #6FCF97;
//gradients
$purple-gradient:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);//main-gradient
$green-gradient:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$yellow-gragient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$dark-gradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);
//font-family
$font-titles:'Quicksand','Open-Sans', Arial, sans-serif;
$font-main:'Montserrat',Arial, sans-serif;
//border-styles and box-shadow
$main-border-style: 1px solid rgba(28, 28, 39, 0.5);
$secondary-border-style:1px solid rgba(31, 32, 65, 0.25);
$main-box-shadow-style:  0px 0px 25px rgba(0, 0, 0, 0.2);
//font-sizes 
$h1-font-size:.875rem;
$h1-line-height:30px;
$h2-font-size:1.1875rem‬;
$h2-line-height:24px;
$h3-font-size:.75rem;
$h3-line-height:15px;
$main-font-size:.875rem;
$main-line-height:24px;
$icon-font-size: 1.5rem;
//pseudo-classes and media
$hover: '&:hover, &:focus, &:active';
$widthDesckop: '(max-width:1200px)';
$widthTablet: '(max-width:748px)';

