//list ofvariables
$dark-shade-100: #1f2041;
$dark-shade-75: rgba($dark-shade-100, 0.75);
$dark-shade-50: rgba($dark-shade-100, 0.5);
$dark-shade-25: rgba($dark-shade-100, 0.25);
$dark-shade-10: rgba($dark-shade-100, 0.1);
$dark-shade-5: rgba($dark-shade-100, 0.05);
//colors
$purple: #bc9cff;
$green: #6fcf97;
//gradients
$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); //main-gradient
$green-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$yellow-gradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$dark-gradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);
//font-family
$font-titles: "Quicksand", "Open-Sans", Arial, sans-serif;
$font-main: "Montserrat", Arial, sans-serif;
//border-styles and box-shadow
$main-border-style: 1px solid rgba(28, 28, 39, 0.5);
$card-border-style: 1px solid rgba(0, 0, 0, 0.12);
$secondary-border-style: 1px solid rgba(31, 32, 65, 0.25);
$main-box-shadow-style: 0px 0px 25px rgba(0, 0, 0, 0.2);
$secondary-box-shadow-style: 0px 10px 20px rgba(31, 32, 65, 0.05);
//font-size
$icon-font-size: 1.5rem;
//pseudo-classes and media
$hover: "&:hover, &:focus, &:active";
$widthDesckop: "(max-width:1200px)";
$widthTablet: "(max-width:768px)";
