extends ./../../../templates/template-page.pug
block content
    include ./../../../modules/header/header.pug
    include ./../../../modules/footer/footer.pug
    include ./../../../modules/form-login/form-login.pug
    +header({
                navList:mainMenuItems,
                buttonsText:[buttonLogin,buttonRegister]})
    main.sign-in
        +form-login({textTitle:'Войти'})
    +footer({mods:'withWidgets',footerText:footerText,copyright:copyright,navItems:footerNavItems,subscribe:subscribe})
    +footer({footerText:footerText,copyright:copyright})