mixin logo(params={})
  -const {mods=''}=params
  -const className = 'дщпщ';
    -
      let modsClasses = '';
          if (mods){
              const modsList= mods.split(',');
              for(let i = 0; i < modsList.length;i++){
                  modsClasses=modsClasses+' '+className+'_'+modsList[i];
              }
          }
  div.logo-container
    if (mods == 'gray')
      img(class='logo logo_gray',src='./assets/img/logogray.svg', alt ='logo-gray')
    else
      img(class='logo logo_with-text', src='./assets/img/logo.svg',alt='logo')