mixin logo(params={})
  -const {mods=''}=params
  -const className = 'logo';
    -
      let modsClasses = '';
          if (mods){
              const modsList= mods.split(',');
              for(let i = 0; i < modsList.length;i++){
                  modsClasses=modsClasses+' '+className+'_'+modsList[i];
              }
          }
  div.logo-container
    if (mods == 'grey')
      img(class='logo logo_grey',src='./assets/img/logogrey.svg', alt ='logo-gray')
    else
      img(class='logo logo_with-text', src='./assets/img/logo.svg',alt='logo')