include ./../dropdown/dropdown.pug
mixin dropdown-furniture(params={})
    -const {open=false}=params;
    - openMod = open? ',open':'';
    //-переписать под furniture
    +dropdown({mods:'furniture'+openMod,textLabel:'Удобства',items:
            [{name:'bedrooms',label:'спальни',nouns: ['спальня', 'спальни', 'спален']},
            {name:'beds',label:'кровати',nouns:['кровать', 'кровати', 'кроватей']},
            {name:'bathrooms',label:'ванные комнаты',nouns:['вання комната', 'ванных комнаты', 'ванных комнат']}],
            defaultText:'Удобства',controls:true})