extends base.pug
block vars
    -
        //sets for header
        const mainMenuItems=['О нас',];
        const logIn;
        const signIn;
        //sets for footer
        const copyright = 'Copyright © 2018 Toxin отель. Все права зачищены. ';
        const footerText ='Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'
block main 

//include

//header

//content
//footer