doctype html
html(lang='en')
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
        
        block scripts
        
        block vars
            -const footerText="Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
            -const copyright='Copyright © 2018 Toxin UI Kit. All rights reserved.'
            -const buttonLogin ="Login";
            -const buttonRegister="Register";
    body
        block content
