extends template.pug
block vars
    -
        //sets for header
       //список элементов меню
        const aboutUs ={text:"О нас",link:"#"};
        const services ={text:"Услуги",link:"#",mods:'withSub'};
        const vacancies ={text:"Вакансии",link:"#"};
        const news ={text:"Новости",link:"#"};
        const agreement ={text:"Соглашения",link:"#",mods:'withSub'};
        const mainMenuItems=[aboutUs,services,vacancies,news,agreement];
        const buttonLogin ="войти";
        const buttonRegister="зарегистрироваться";
        const userName = 'Cosmin Negoita';
        //sets for footer
        const copyright = 'Copyright © 2018 Toxin отель. Все права защищены. ';
        const footerText ='Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»';
        const footerNavigation ={
            title:'Навигация',
            items:[{text:"О нас",link:"#"},{text:"Новости",link:"#"},{text:"Служба поддержки",link:"#"},{text:"Услуги",link:"#"}]
        };
        const footerAboutUs ={
            title:'О нас',
            items:[{text:"О сервисе",link:"#"},{text:"Наша команда",link:"#"},{text:"Вакансии",link:"#"},{text:"Инвесторы",link:"#"}]
        };
        const footerSupport={
            title:'Служба поддержки',
            items:[{text:"Соглашения",link:"#"},{text:"Сообщества",link:"#"},{text:"Связь с нами",link:"#"}]
        };
        const subscribe ={
            title:'Подписка',
            text:"Получайте специальные предложения и новости сервиса"};//Элемент с подпиской 
        const footerNavItems=[footerNavigation,footerAboutUs,footerSupport];