@import './../assets/scss/vars.scss';
body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    font-size: 16px ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,h2{
    font-family: $font-titles;
    font-weight: bold; 
}
h3,body{
  font-family: $font-main;
}
h1{
  font-size: .875rem;
  line-height:1.875rem ;
}
h2{
  font-size: 1.1875rem‬;
  line-height: 1.1875rem‬;
}
h3{
  margin:0;
  font-size: .75rem;
  line-height: .9375rem;
}
body{
  font-size:.875rem ;
  line-height: 1.5rem;
}
button{
  font-size: .75rem;
  line-height: .9375rem;
}
label{
  font-family: $font-main;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
/* identical to box height */

  text-transform: uppercase;  
}
  
//переписать код ниже
  .container-columns{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  }