@import './../../assets/scss/vars.scss';
.pagination{
    font-size: .9rem;
    white-space: nowrap;
}
.pagination__item{
    display:inline-block;
    font-size: .75rem;
    line-height: .9375rem;
    width:40px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: $dark-shade-50;
    direction: ltr;
    padding: 10px 0;

    &_active{
            border-radius:50%;
            background: $primary-gradient;
            color:white;
            font-weight: bold;
    }
    &_arrow{
        background: $green-gradient;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }
    i.material-icons{
        color: #FFFFFF;
        line-height: 0;
    }
}
.pagination__text{
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
}
