@import "./../../assets/scss/vars.scss";
.pagination {
    font-size: 0.9rem;
    white-space: nowrap;
    &__list {
        list-style: none;
        display: flex;
        margin-bottom: 10px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        font-size: 12px;
        line-height: 15px;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        direction: ltr;
        &__link {
            color: $dark-shade-50;
            text-decoration: none;
        }

        &_current {
            border-radius: 50%;
            background: $primary-gradient;
            font-weight: bold;
            a {
                color: #ffffff;
            }
            #{$hover} {
                opacity: 0.5;
            }
        }
    }
    &__control {
        display: flex;
        cursor: pointer;
        background: $green-gradient;
        border-radius: 50%;
        &_disabled {
            display: none;
        }
        #{$hover} {
            opacity: 0.5;
        }
        i.material-icons {
            font-size: 12px;
            color: #ffffff;
            font-size: 24px;
        }
    }
}
.pagination__text {
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
}
