@import './../../assets/scss/vars.scss';
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',Arial, sans-serif;
    font-size: 0.9rem ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,h2{
    font-family: 'Quicksand',Arial,sans-serif;    
}
h3,body{
    font-family: 'Montserrat',Arial, sans-serif;
}
  .container-columns{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  }