extends base.pug
block vars
    -
        //sets for header
        const logoIcon;
        const mainMenuItems=[aboutUs,services,vacancies,news,agreement];//список элементов меню
        const aboutUs ={text:"",link:"#"};
        const services ={text:"",link:"#"};
        const vacancies ={text:"",link:"#"};
        const news ={text:"",link:"#"};
        const agreement ={text:"",link:"#"};
        const logIn={text:'',button:''};//текст и класс-модификатор кнопки
        const signIn={text:'',button:''};//текст и класс-модификатор кнопки
        //sets for footer
        const footerLogo
        const copyright = 'Copyright © 2018 Toxin отель. Все права защищены. ';
        const footerText ='Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»';
        const footerNav ={
            title:'Навигация',
            navItems=[{text:"",link:""},{text:"",link:""},{text:"",link:""},{text:"",link:""}]
        };//Элементы навигации в футере
        const footerAboutUs ={
            title:'О нас',
            navItems=[{text:"",link:""},{text:"",link:""},{text:"",link:""},{text:"",link:""}]
        };//Элементы навигации в футере;
        const footerSupportService={
            title:'Служба поддержки',
            navItems=[{text:"",link:""},{text:"",link:""},{text:"",link:""},{text:"",link:""}]
        };//Элементы навигации в футере
        const subscription ={
            title:'Подписка',
            text:"Получайте специальные предложения и новости сервиса"};//Элемент с подпиской 
        const socialButtons = ["fa-twitter","fa-facebook-square","fa-instagram"]; //названия классов кнопок?
block main 

//include

//header

//content
//footer