mixin like-button(params)
    -const {clicked=false,count=0}=params;
    -const clickedMod = (clicked)?' like-button_clicked':'';
    div.like-button(class=clickedMod)
        i.material-icons favorite
        span.like-button__count(data-value=count)=count