mixin range-slider(params={})
    -const {textTitle='',description=''}=params;
    .range-slider
        span.range-slider__title=textTitle
        span.range-slider__output value
        input(class="range-slider__input" value="")
        p.range-slider__description 