@import './../../assets/scss/vars.scss';
.navigation{
    font-size: 14px;
    line-height: 17px;
    display:flex;
    align-items: center;
    &-item{
        margin-right:20px;
        &_withSub{
            display: flex;
            align-items: center;
        }
        &__link{
            text-decoration: none;
            color:$dark-shade-50;
            i{
               height: 100%;
            }
            
        }
        &_active{
            color:$dark-shade-75;
            font-weight:bold;
        }
    }
}