@import './../../assets/scss/vars.scss';
.button-mobile-menu{
    color:$purple;
    display: none;
    cursor:pointer;
    margin-right: 20px;
    #{$hover}{
        opacity:0.5;
    }
}
.navigation{
    font-size: 14px;
    line-height: 17px;
    display:flex;
    align-items: center;
    &-item{
        margin-right:20px;
        &_withSub{
            display: flex;
            align-items: center;
        }
        &__link{
            text-decoration: none;
            color:$dark-shade-50;
            i{
               height: 100%;
            }
            
        }
        &_active{
            color:$dark-shade-75;
            font-weight:bold;
        }
    }
}
@media #{$widthTablet}{   
.button-mobile-menu{
    display: block;
}
.header__nav{
    position: relative;
}
.navigation{
    display: none;
        &.navigation_open{
            background-color:#FFFFFF;
            box-shadow: $main-box-shadow-style;
            position: absolute;
            left:-8rem;
            display: flex;
            flex-direction: column;
            width:320px;
            .navigation-item{
                text-align: center;
                margin-bottom: 20px;
            }
            }
        }
    }
