@import './../../assets/scss/vars.scss';
.navigation{
    list-style: none;
    font-size: 14px;
    line-height: 17px;
    display:flex;
    justify-content: space-between;
    &-item{
        display: inline-block;
        margin-right: 10px;
        &__link{
            text-decoration: none;
            color:$dark-shade-50;
        }
        &_active{
            color:$dark-shade-75;
            font-weight:bold;
        }
    }
}