@import '../../assets/scss/vars.scss';
.dropdown{
    display: inline-block;
    cursor: pointer;
    width: 320px;
}
.dropdown__label{
    margin-top:20px;
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade-100;
    }
/*.dropdown__placeholder{
        font-family: $font-main;
        font-style: normal;
        font-weight: normal;
        padding-left:15px;
        padding-top: 12px;
        font-size: 14px;
        line-height: 18px;
        border:$main-border-style;
        box-sizing: border-box;
        border-radius: 4px;
        height: 44px;
        color: $dark-shade-75;
}*/
.iqdropdown{
    position: relative;
        &-menu{
            padding-bottom: 13px;
        }
        &-menu-option{
            display:flex;
            justify-content: space-between;
        }
        &-item{
            font-weight: bold;
        }
        .iqdropdown-item-controls{
            width:92px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button, .counter{
            border:none;
            }
            button{
                width: 30px;
                height: 30px;
                border:$main-border-style;
                padding:0;
                &.button-decrement{
                border-radius:22px;
                }
                &.button-increment{
                    border-radius:22px;
                }
                i.icon-decrement::after,i.icon-increment::after,i.icon-increment::before{
                    background:$dark-shade-50;
                }
            }
            .counter{
                padding:0;
            }
        }
        }
    .controls{
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        .hidden{
            overflow: hidden;
        }
        .button-reset button{
            color:$dark-shade-50;
        }
    }
    //-стили для модификации furniture