@import '../../assets/scss/vars.scss';
.dropdown{
    display: inline-block;
    cursor: pointer;
    width: 320px;
    &__label{
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade-100;
    }
    &-selection{
        width: 100%;
        height: 100%;
    }
}
.dropdown{
    position: relative;
        &__menu{
            padding-bottom: 13px;
        }
        &__menu__option{
            display:flex;
            justify-content: space-between;
        }
        &__name{
            font-weight: bold;
        }

        .dropdown__menu__option__controls{
            width:92px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button, .counter{
            border:none;
            }

            .button{
                width: 30px;
                height: 30px;
                border:$main-border-style;
                padding:0;
                &_decrement{
                border-radius:22px;
                }
                &_increment{
                border-radius:22px;
                }
            }
            .counter{
                padding:0;
            }
        }
        }

    .controls{
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        .hidden{
            visibility: hidden;
        }
        .button-reset button{
            color:$dark-shade-50;
        }
    }
    //-стили для модификации furniture