mixin form-registration(params={})
    -const{}=params;
    //field name
    //field surname
    //radio male female
    //drop date 
    //p data from enter
    //field email
    //field password
    //toggle
    //nigfull btn
    //p havw account and borderbtn