@import './../../assets/scss/vars.scss';
.form-registration{
    padding:40px 30px;
    background: #FFFFFF;
    width: 380px;
    height: 646px;
    border: $main-border-style;
    box-sizing: border-box;
    box-shadow: $main-box-shadow-style;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h3{
        width:320px;
        font-family: $font-titles;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color:$dark-shade-100;
}
    .form__footer{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}