@import '../../assets/scss/vars.scss';
/*
* TODO: refactore this code, rename sizes to rem 
*/
.subscribe-container{
   position: relative;
}
.subscribe{
      width: 320px;
      padding: 0.857rem 1rem;
      border:none;
      outline:none;
      border: $secondary-border-style;

      &+i.material-icons{
         position: absolute;
         top:0.5rem;
         right:0.5rem;
         color:$purple;
 }
}