mixin dropdown-date(params={})
    -const {textLabel='',placeholder='ДД.ММ.ГГГГ',value=''}=params;
    .dropdown.dropdown-date
        label.dropdown-date__label
            p=textLabel
            input.datepicker-here(placeholder=value||placeholder,value=value)
            i.material-icons expand_more