.dropdown-date{
    width:150px;
    &__label{
        position: relative;
        .material-icons{
            position: absolute;
            top:1.5rem;
            right:0.5rem;
        }
    }
    .datepicker-here{
        width:150px;
        height:44px;
        
    }
}