mixin dropdown-date()
    .dropdown.dropdown-date
        .dropdown-date__item
            .dropdown__label 'Прибытие'
                .dropdown__placeholder 'ДД.ММ.ГГГГ'
                    i.material-icons expand_more
        .dropdown-date__item
            .dropdown__label 'Прибытие'
                .dropdown__placeholder 'ДД.ММ.ГГГГ'
                    i.material-icons expand_more