mixin dropdown-date(params={})
    -const {items=[{textLabel:'',placeholder:''},{textLabel:'',placeholder:''}]}=params;
    .dropdown.dropdown-date
        for item in items
            .dropdown-date__item
                input.datepicker-here
                //-.dropdown__label 'Прибытие'
                    .dropdown__placeholder 'ДД.ММ.ГГГГ'
                i.material-icons expand_more
        //-.dropdown-date__item
            input.dropdown-date__item.datepicker-here-.dropdown__label 'Прибытие'
                .dropdown__placeholder 'ДД.ММ.ГГГГ'
            i.material-icons expand_more