@import "./../../assets/scss/vars.scss";
.dropdown-date {
    margin-top: 20px;
    cursor: pointer;
    &__label {
        position: relative;

        p {
            color: $dark-shade-100;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        input {
            box-sizing: border-box;
            width: 320px;
            font-size: 14px;
            line-height: 18px;
            padding: 15px 13px;
            border: 1px solid $dark-shade-25;
            color: $dark-shade-50;
        }
        .material-icons {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
    .datepicker-here {
        outline: none;
        border: none;
        margin-top: 5px;
        box-sizing: border-box;
        height: 44px;
        width: 100%;
        border: $secondary-border-style;
        border-radius: 4px;
        padding-left: 15px;
    }
}
//-стили для случая двух полей
.dropdown-date_twoFields {
    width: 320px;
    display: flex;
    justify-content: space-between;
    input {
        box-sizing: border-box;
        width: 150px;
    }
}
.dropdown-date_filterDate {
    input.datepicker-here {
        width: 266px;
        box-sizing: border-box;
    }
}
.datepicker {
    padding: 20px;
    box-sizing: border-box;
    border: $main-border-style;
    box-shadow: $main-box-shadow-style;
    width: 320px;
    //height: 369px;
    font-size: 12px;
    line-height: 15px;
    &--nav {
        border-bottom: none;
        &-title {
            line-height: 24px;
            font-family: $font-titles;
            color: $dark-shade-100;
        }
    }
    &--nav-action {
        i.material-icons {
            position: static;
            color: $purple;
        }
    }
    &--cell-day{
        font-weight: normal;
    }
    &--cell-day.-other-month-,
    .datepicker--cell-year.-other-decade- {
        color: $dark-shade-25;
    }
    &--cell.-selected-.-focus- {
        background: $primary-gradient;
        border-radius: 50%;
    }
    &--cell.-current- {
        background: $green-gradient;
        border-radius: 50%;
        color: #ffffff;
    }
    &--cell {
        font-family: $font-main;
        height: 40px;
        color: $dark-shade-50;
        &.-in-range- {
            background: $primary-gradient;
            opacity: 0.25;
        }
    }

    .-focus- {
        background: $primary-gradient;
        border-radius: 50%;
    }

    .-current- {
        background: $green-gradient;
        border-radius: 50%;
        &.-focus- {
            background: $primary-gradient;
            border-radius: 50%;
        }

        &.-in-range- {
            background: $primary-gradient;
            opacity: 0.25;
        }
    }

    &--cell.-selected-,
    .datepicker--cell.-selected-.-current- {
        background: $primary-gradient;
        border-radius: 50%;
    }

    &--day-name {
        font-family: $font-main;
        width: 40px;
        height: 40px;
        color: $purple;
        font-weight: bold;
    }

    .dropdown-date__controls {
        margin-top: 20px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        .button-reset button {
            color: $dark-shade-50;
        }
        .button-apply button {
            color: $purple;
        }
    }
}
