mixin icon-text(params={})
    -const {iconCode='',title='',description=''}=params;
    ul.icon--text_list
        li.icon-text-list__item
                    .icon-text-__icon
                        i.material-icons=iconCode
                    .icon-text__text
                        .icon-text__text__title=title
                        .icon-text__text__description=description
