@import '../../assets/scss/vars.scss';
.subscription-text-field__label{
   position: relative;
   //width: 320px;
}
.subscription-text-field{
      width: 320px;
    height: 44px;
    padding: 12px 15px;
   &+.material-icons{
      position: absolute;
      top:0.5rem;
      right:0.5rem;
      color:$purple;
 }
}