include ./../modules/dropdown-guests/dropdown-guests.pug
include ./../modules/header/header.pug
+dropdown-guests
+header({
                navList:['Home','About us','Services','News','Documentation'],
                navButtons:[['border','Login'],['bigFull','register']]})

