include ./../modules/comment/comment.pug
+comment({linkAvatar:'assets/img/user/murad.png', username:'Мурад Сарафанов',commentDate:'5 дней назад',commentText:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
