.block-of-color{
    display:flex;
    flex-direction: row;
    justify-content: baseline;
    margin-bottom: 20px;
    &__color{
        width: 70px;
        height:70px;
        border-radius: 6px;
        margin-right:40px;
    }
    

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        text-align: start;
        &__name{
            font-weight: bold;
            font-size: 19px;
            line-height: 29px;
        }
        &__text{
            font-weight: normal;
            font-size: 19px;
            line-height: 29px;
        }
    }
}
