mixin block-of-color(params)
    -const {colorname,style,colorcode} = params;
    div.block-of-color
        .block-of-color__color(style='background-color:'+style)
        .block-of-color__desc
            h2.block-of-color__desc__name=colorname
            .block-of-color__desc__code=colorcode
            