include ./../like-button/like-button.pug
mixin comment(params={})
    -const {linkAvatar='#',username='',commentDate='',commentText=''}=params;
    .comment
        img(class="comment__user-avatar" src=linkAvatar alt="avatar")
        .comment__username= username
        .comment__date= commentDate
        +like-button({mods:'clicked',count:12})
        .comment__comment-text=commentText
