extends ./../../../templates/template-page.pug
block content
    +header({
                navList:['Home','About us','Services','News','Documentation'],
                buttonsText:[buttonLogin,buttonRegister]})
    main

