@import './../../../templates/template.scss';
@import '../../../assets/scss/vars.scss';
body.cards{
    background: #E5E5E5;

.cards{
    .wrapper-columns{
        padding:72px 62px;
        display:grid;
        grid-template-columns: 380px 380px 320px;
        grid-column-gap: 40px;
    }
}
}
