@import './../../../templates/template.scss';
@import '../../../assets/scss/vars.scss';
//@import '../../../modules/dropdown-date/dropdown-date.scss';
.cards{
    .columns-container{
        padding:72px 62px;
        display:grid;
        grid-template-columns: 380px 380px 320px;
        grid-column-gap: 40px;
    }
    .column-elements{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

