extends ./../../../templates/template.pug
block vars
    -var title = 'Cards'
block content
    include ./../../../modules/logo/logo.pug
    include ./../../../modules/form-search/form-search.pug
    include ./../../../modules/datepicker/datepicker.pug
    include ./../../../modules/form-login/form-login.pug
    include ./../../../modules/card-room/card-room.pug
    include ./../../../modules/form-registration/form-registration.pug
    include ./../../../modules/room-details/room-details.pug
    //include ./../../../modules/
    main.cards
        +logo({mods:'gray'})
        .columns-container
            .column-elements
                +form-search({textTitle:'Найдём номера под ваши пожелания'})
                +form-registration({textTitle:'Регистрация аккаунта'})
            .column-elements
                +room-details
                +form-login({textTitle:'Войти'})
            .column-elements
                +datepicker
                +card-room({photoLink:'assets/img/rooms/room888.jpg',numberRoom:'888',price:'9990',isLuxe:true,rate:5,reviews:145})
                +card-room({photoLink:'assets/img/rooms/room840.jpg',numberRoom:'840',price:'9900',rate:4,reviews:65})