mixin social-icons(params={})
    -const {links=['twitter.svg','facebook.svg','instagram.svg']}=params;
    ul.social-icons
        for item in links
            li.social-icons__item
                a(href="#")
                    img(class="social-icon" src="assets/img/social-icons/"+item)