include ./../dropdown-date/dropdown-date.pug
include ./../dropdown-guests/dropdown-guests.pug
include ./../button/button.pug
mixin room-details(params={})
    -const {roomNumber='',isLuxe=false,roomPrice='',}=params;
    form.form.form-reservation
        .form-reservation__header
            .form-reservation__roomNumber=roomNumber
                if(isLuxe)
                    span.form-reservation__luxe Люкс
            .form-reservation__price=roomPrice
        +dropdown-date({textLabel:'Прибытие'})
        +dropdown-date({textLabel:'Выезд'})
        +dropdown-guests()
        div.form-reservation__drice-details
            //цена за бронь на т lytq
            //скидка
            //сбор за доп услуги
        div.form-reservation__resultPrice
        +button({mods:'bigFull',textLabel:'Забронировать',arrowIcon:true})
    
    mixin price-details(params={})
        -const {roomPrice=roomPrice,serviceСharge=0,additionalServiceCharge=0}
        