include ./../dropdown/dropdown.pug
mixin dropdown-guests(params={})
    -const {open=false}=params;
    - openMod = open? ',open':'';
    +dropdown({mods:'guests'+openMod,textLabel:'Гости',items:[
            {name:'adults',label:'Взрослые',nouns: 'гость,гостя,гостей'},
            {name:'clidren',label:'Дети',nouns:'гость,гостя,гостей'},
            {name:'babies',label:'Младенцы',nouns:'младенец,младенца,младенцев'}],
            defaultText:'Сколько гостей?',controls:true})