@import './../../assets/scss/vars.scss';
.header{
    height: 70px;
    width:100%;
    background: #FFFFFF;
    box-shadow:$main-box-shadow-style;
    &__nav-bar{
        display: grid;
        grid-template-areas: "logo nav aside";
        grid-template-columns:405px 527px 200px ;
        max-width: 1160px;
        height: 100%;
        margin:0 auto;
        align-items: center;
    }
    &__nav{
        grid-area:nav;
    }
    .header__logo{
        grid-area: logo;
    }
    .logo-container{
        
        padding:0;
    }
    .header__buttons, .header__user-name{
        grid-area: aside;
    }
    
    button:first-child{
        width: 79px;
        height: 34px;
        margin-right: 20px;
    }
    button:last-child{
        width: 101px;
        height: 34px;   
    }
    
}