@import "./../../assets/scss/vars.scss";
.header {
    height: 70px;
    width: 100%;
    background: #ffffff;
    box-shadow: $secondary-box-shadow-style;

    &__nav-bar {
        height: 100%;
        display: flex;
        max-width: 1160px;
        margin: 0 auto;
        align-items: center;
    }
    &__user-name {
        padding-left: 30px;
        color: $dark-shade-50;
        border-left: 1px solid $dark-shade-10;
    }
    &__logo {
        margin-right: auto;
    }

    button:first-child {
        width: 79px; //TODO translate to rem
        height: 34px;
        margin-right: 20px;
    }
    button:last-child {
        width:auto;
        min-width: 101px; //TODO translate to rem
        height: 34px;
        padding: 10px 20px;
    }
}
@media #{$widthTablet} {
    .header {
        &__nav-bar {
            justify-content: space-between;
        }
    }
}
