@import './../../assets/scss/vars.scss';
.header{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 700px 200px;
    max-width: 1440px;
    height: 70px;
    .logo-container{
        padding:0;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    box-shadow:$main-box-shadow-style;
    button:first-child{
        width: 79px;
        height: 34px;
        margin-right: 20px;
    }
    button:last-child{
        width: 101px;
        height: 34px;   
    }
    
}