include ./../logo/logo.pug
include ./../button/button.pug
include ./../navigation/navigation.pug
mixin header(params={})
    -const {mods='',navList=[],userName='',buttonsText=[]}=params; 
    //-доступные знначения mods: 
    //-logged - вид хедера для вошедшего в систему пользователя
    //-mobile
    //-перечень кнопок в хеадере при наличии таковых
    //-пример: {'border':'Login','bigFull':'register'}
    -const className = "header";
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
             for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }

    div(class=className+modsClasses)
        .header__nav-bar
            .header__logo
                +logo
            .header__nav
                +navigation
                    each item in navList
                        -const {text,link,mods}=item;
                        +navigation-item({mods:mods,ancor:text})
            if (mods=="logged")
                .header__user-name=userName
            else
                .header__buttons
                    +button({mods:'border',text:buttonsText[0]})
                    +button({mods:'bigFull',text:buttonsText[1]})
