@import './../../assets/scss/vars.scss';
.footer{
    background: #FFFFFF;
    box-shadow:$main-box-shadow-style;
    width:100%;
    height: auto;
    .footer-bar{
        margin:0 auto;
        max-width:560px;
        height: 367px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo-container{
            width:auto;
            margin-bottom: 20px;
        }
        .footer-text{
            font-family: $font-main;
            color:$dark-shade-75;
            text-align: center;
            margin-bottom: 25px;
        }
    }
}
.footer_withWidgets{
    .separate{
        background-color:$dark-shade-10;
        margin:1px 0;
        border:none;
        height: 1px;
    }
    .footer-container{
        margin:0 auto;
        height:443px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }
    .footer-bar{
        margin:0 auto;
        height:calc(100%-70px);
        width:72rem;
        max-width:1160px;
        display:flex;
        justify-content: space-between;
        align-items: center;

        &__brand{
          width:  16.25rem;
          .footer-text{
              text-align: inherit;
          }
        }
    }
    .footer__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:72rem;
        max-width:1160px;
        margin:0 auto;
        height:70px;
    }
}