@import '../../assets/scss/vars.scss';
.checkbox-list__wrap{
    width: 320px;
    position: relative;
    box-sizing: border-box;
    
    i.material-icons{
        position: absolute;
        top: -5px;
        right: 0;
    }
}
.checkbox-list__list{
    display: none;
    list-style: none;
    margin-top: 16px;
}
.checkbox-list{
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
        text-transform: uppercase;
        color: $dark-shade-100;

        &_open+.checkbox-list__list{
            display: block;
        }
}
