include './../../primitives/checkbox/checkbox.pug'
include './../../primitives/icon/icon.pug'
mixin checkboxlist(params={})
    -const {textLabel,mods=''}=params;
    -const className = 'checkbox-list';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
            }
    div(class=className+modsClasses)
        .checkbox-list_label=textLabel
            if(mods=='open')
                i.material-icons expand_less
            else
                i.material-icons expand_more
        
        ul.checkbox-list__list
            li.checkbox-list__list__item
                //-далее идет вставка чекбоксов
                block 