@import '../../../assets/scss/vars.scss';
@import './../../../templates/template.scss';
body{
    background-color: #FFFFFF;
    margin: 0 auto;
    width:100%;
    max-width: 1440px;
}
.container-columns{  
    padding-top: 67px;
    .column{
         &:first-child{
            margin-left: 150px;
            flex-basis:320px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
        
            }
        &:last-child{
             margin-right: 124px;
            }
        }
    }


@media #{$widthDesckop}{
    .container-columns{
        width:100%;
        justify-content: space-between;
        padding:10%;
        .column{
            &:first-child{
                margin-left: 0px;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }

}
@media #{$widthTablet}{
    .container-columns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .column:first-child{
        margin-bottom: 40px;
    }
}